@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=IBM+Plex+Mono&family=Mr+Dafoe&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

.header{
    width: auto; 
    height: 500px; 
    text-align: center;  
    padding: 15px;
    /* border: 1px solid red;   */
}

.header_img{
    width: 100%;  
    height: 480px;  
    object-fit: cover;
}

.header_txt{
    font-family: 'Mr Dafoe', cursive; 
}